body {
    position: fixed;
    background-color: black;
    color: #ffffff;
}
svg {
  position: fixed;
  top:  0;
  left: 0;
}
.handle {
  position: fixed;
  fill: none;
  pointer-events: all;
  stroke: #fff;
  stroke-width: 1px;
  visibility: hidden;
  cursor: move;
}
.cpoints {
  position: absolute;
  pointer-events:all;
  visibility: hidden;
  stroke:none;
}
.keylights {
    position: fixed;

}
#kl0 {
    position:fixed;
    top:550;
    left:52;
}
#kl1 {
    position:fixed;
    top:550px;
    left:429px;
}
#kl2 {
    position:fixed;
    top:550px;
    left:823;
}
#h0 {
    position: fixed;
    top:550px;
    left:52px;
}
#h1 {
    position: fixed;
    top:550px;
    left:429px;
}
#h2 {
    position: fixed;
    top:550px;
    left:823;
}
#h0tr {
}
#h1tr {
}
#h2tr {
}
#face {
    position: fixed;
    top: -50px;
    right: 100px;
    transform: scale(-0.6, 0.6)
}

#menu {
    visibility: hidden;
    position: fixed;
    top:140px;
    left: 37%;
    color: #ffffff;
    font-family: monospace;
    font-size:11px;
    text-align:center;
    z-index:2;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}
